.alert {
  position: relative;
  padding: 0rem 1rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
}

.alert-warning {
  border-style: solid;
  border-color: #ed6a5a;
  border-width: 0 0 0 4px;
  padding: 0rem 1rem;
}

.alert-heading {
  font-family: sans-serif;
  font-size: 1.2rem;
  color: #ed6a5a;
  weight: bold;
}
